<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="wade.wei.mapper.UserMapper">

    <resultMap id="userChildrenMap" type="RoleChildren">
        <id column="id" property="id"></id>
        <result column="role_name" property="roleName"></result>
        <result column="role_describe" property="roleDescribe"></result>
        <collection property="users" ofType="user">
            <id column="id" property="id"></id>
            <result column="name" property="name"></result>
            <result column="age" property="age"></result>
            <result column="email" property="email"></result>
            <result column="role_id" property="roleId"></result>
        </collection>
    </resultMap>

    <select id="mySelectPage" resultType="user">
        select *
        from user
        where (age >= #{pg.selectInt} and name = #{pg.selectStr})
           or (age >= #{ps.yihao} and name = #{ps.erhao})
    </select>


</mapper>